body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color: #3d2022;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #3d2022;
}

.rubik-font {
  font-family: "Rubik", sans-serif;
}

main {
  background-image: url(./img/Logotyp\ BB.png);
  background-position: center 0%;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 2;
  transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

body[data-nav="true"] > main {
  transform: translateY(-100%);
}

.welcomeNav {
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 2%;
  
  
}

#nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 2vw, 2rem);
  margin-top: clamp(2rem, 2vw, 3rem);
  padding: 0rem clamp(1rem, 2vw, 2rem);
  transform: translateY(80%) scale(0.9);
  transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
}

body[data-nav="true"] > nav > #nav-links {
  transform: translateY(0%) scale(1);
}

#nav-links > .nav-link {
  text-decoration: none;
}

#nav-links > .nav-link > .nav-link-label {
  color: white;
  font-size: 1.5rem;
  margin: 0rem;
  text-transform: uppercase;
}

#nav-links > .nav-link > .nav-link-image {
  width: max(20vw, 400px);
  aspect-ratio: 2/1;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
  object-fit: cover;
  width: 400px;
  height: auto;
}



.display {
  display: flex;
}


.hover {
  width: 85%;
}
#nav-toggle {
  height: 7rem;
  width: 7rem;
  position: fixed;
  z-index: 3;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  background-color: #f4e4a8;
  border: none;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

#nav-toggle:hover {
  transform: translateX(-60%) scale(1.04);
}

#nav-toggle:active {
  transform: translateX(-60%) scale(0.96);
}

.my-class{
  opacity: 0;
 
}
body[data-nav="true"] > #nav-toggle {
  background-color: #f4e4a8;
}

body:not([data-nav="true"]) > #nav-toggle:hover > .open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  color: #3d2022;
}

body:not([data-nav="true"]) > #nav-toggle > .open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  color: #3d2022;
}

#nav-toggle > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  color: rgb(246, 231, 224);
  font-size: 1.75rem;
  opacity: 0;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

body[data-nav="true"] > #nav-toggle > .close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  color: #3d2022;
}

.name {
  font-size: clamp(3rem, 10vw, 10rem);
  color: #f6e2ad;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  font-family: "Herr Von Muellerhoff";
  font-size: 4rem;
  z-index: 3;
  left: 50%;
  bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  #nav-links > .nav-link > .nav-link-image {

    width: 250px;
   
 
  }

  #nav-links > .nav-link > .nav-link-label {
  
    font-size: 1.25rem;
   
  }
  .name{
    font-size: 3rem;
  }
}
